.container {
  max-width: 1551px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .wrapper {
    max-width: 1503px;
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    margin: 24px;
    gap: 24px;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }

    .side-bar {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border: 1px solid #cfcfe4;
      border-radius: 18px;
      width: 264px;
      height: 234px;

      .select {
        border-radius: 12px;
        margin: 12px;
        width: 240px;
        height: 42px;
        display: flex;

        &:hover {
          background-color: #5fbf77;
        }

        .option {
          text-align: center;
          border-radius: 12px;
          //font-family: "Nunito", sans-serif;
          //font-family: var(--font-family);
          font-weight: 800;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: -0.01em;
          color: #39414b;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid green;
      list-style: none;
      gap: 18px;
      max-width: 1215px;
      @media screen and (max-width: 600px) {
          justify-content: center;
          align-items: center;
      }

      .cards {
        max-width: 393px;
        box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.19);
        background: #fff;
        border-radius: 0 0 18px 18px;

        .image {
          border-radius: 18px 18px 0 0;
          max-width: 393px;
          height: 162px;
        }

        .name {
          text-align: left;
          padding: 12px 18px 18px 18px;
          /*font-family: var(--font-family);*/
          font-weight: 800;
          font-size: 18px;
          line-height: 100%;
          color: #39414b;
        }
      }
    }
  }
}





